{% extends 'layout/base.html'%}

{% block title%}Organisation details{% endblock %}

{% block style%}

{% endblock style%}



{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h3>Organisation details</h3>
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:home' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'departments:organisation_list' %}">Organisation</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Organisation details</strong>
                </li>
            </ol>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h5><b>Organisation Name</b></h5>
                            <p>{{organisation.name|title}}</p>
                        </div>
                        <div>
                            <h5><b>Organisation Address</b></h5>
                            <p>{{organisation.address|title}}</p>
                        </div>
                        <div>
                            <h5><b>Organisation Location</b></h5>
                            <p>{{organisation.location|title}}</p>
                        </div>
                        <div>
                            <h5><b>Added On</b></h5>
                            <p>{{organisation.created_at|date:"d/m/Y"}}</p>
                        </div>
                    </div>
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>



{% endblock %}